<h1>Bands</h1>

<% @bands.each do |t| %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Explicit Lyrics</th>
        </tr>
    </thead>
    <tbody>
<tr>
<td><%= t.name %></td>
<td><%= t.genre %></td>
<td><%= t.explicit_lyrics %></td>
<td><%= link_to "Edit Band", edit_band_path(t) %></td>
<td><%= link_to "Delete Band", band_path(t), method: :delete, data: {confirm: "Are you sure?"} %><td>
</tr>
<% end %>
</tbody>
</table>

<div class="container">
  <div class="text-center">
<p> <%= link_to "Add a new Band", new_band_path %> </p>
</div>
</div>

